@font-face { 
    font-family: Optimus; 
    src: url('../fonts/OptimusPrinceps.ttf'); 
} 
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#gameContainer {
    position: relative;
    width: 1900px; 
    height: 938px; 
}

#canvas {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background-image: url("../assets/background_9.png");
    background-size: cover;
    opacity: 1;
    /* background-color: black; */
}
#startScreen{
    position: relative;
    /* position: absolute; */
    display: block;
    width: 1920px;
    height: 938px;
    /* width: 660.5px;
    height: 854.75px; */
    top: 0;
    left: 0;
    background-color: rgb(197, 197, 197);
    text-align: center;
    
}
#controlsDiv{
    /* background-color:cornsilk; */
    position: absolute;
    padding: 10px;
    left: 200px;
    top: 200px;
    font-size: 24px;
    font-family: Optimus;
    border-radius: 10px;
    background-color:rgb(172, 171, 171);
}
#descriptionDiv{
    position: absolute;
    width: 500px;
    height: 100px;
    padding: 20px;
    left: 1300px;
    top:190px;
    font-size: 24px;
    text-wrap:wrap;
    font-family: Optimus;
}
#startImage{
    /* position: absolute;
    left: 650px; */
    /* align-self: center; */
    width: 660.5px;
    height: 854.75px;

}
#startButton{
     position: absolute;
    /* top: 300px;
    left: 300px;  */
    top: 50%;
    left: 885px; 
    color:black;
    background: none;
    font-size: 64px;
    border: none;
    display: block;
    font-family: Optimus;
}
#startButton:hover{
    color: red;
}
#lostScreen{
    display: none;
    position: absolute;
    top: 600px;
    padding: 20px;
    background-color: black;
    width: 1920px;
    height: 60px;
    text-align: center;
}
@keyframes fading{
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#lostScreen{

    animation-name: fading;
    animation-duration: 4s;
}
#youDied{
    font-size: 64px;
    margin-top: 0px ;
    margin-bottom: 0px;
    /* background-color: black; */
    color: red;
    font-family: Optimus;

}
#restartButton1{
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background:none;
    background: black;
    color: red;
}
#restartButton1:hover{
    color:white
}
#restartButton2{
    border: none;
    background-color: red;
    font-size: 20px;
    color: black;
}
#restartButton2:hover{
    color:white
}
#wonScreen{
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    display: none;
    align-self: center;
    top: 200px;
    left:740px;
    width: 500px;
    height: 200px;
    text-align: center;
    font-family: Optimus;
    background-color: rgb(255, 0, 0);
}
#seeds{
    font-size: 24px;
}
/* #background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1500px; 
    height: 800px;
    background-image: url("../images/background.jpg");
    background-color: aliceblue;
    background-size: cover;

} */
/* add styles for other HTML elements of your game */